// Global font properties
$root-font-size: 16px;

// Body properties
$body-font-family: helvetica, arial, sans-serif;
$body-font-size: 14px;
$body-color: #222;
$body-background-color: #eee;
$body-border: 1px solid #ccc;

// Headings
$heading-main-font-family: 'bree serif', arial, sans-serif;
$heading-main-font-size: 30px;
$heading-main-color: #cc0099;
$heading-secondary-font-family: 'Trade Winds', arial, sans-serif;
$heading-secondary-font-size: 24px;
$heading-secondary-color: #cc0099;

// Content wrapper
$container-width: 960px;
$container-background-color: #fff;
